VITE_SUPABASE_URL=https://cugiwyrgfptehvkexejg.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN1Z2l3eXJnZnB0ZWh2a2V4ZWpnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc4MDY2MjEsImV4cCI6MjEwMzM4MjYyMX0.70SI4gNtg_QGo-x8mivn1_u45bZ8wBVtjc5pD7BORAQ

